#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
 
.list {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin-bottom: 20px;
  background: white;
}
 
.list > li,
.list > p,
.list > div {
  margin: 10px;
  border: 1px solid #f98a8a;
}
 
.movie-card,
.add-movie {
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.add-movie label {
  width: 100px;
  display: block;
  margin: 0 auto;
}
 
.add-movie input {
  padding: 10px;
  display: inline-block;
  margin: 2px 0 10px;
}
 
.add-movie input[type='checkbox'] {
  height: 30px;
  display: block;
  margin: 0 auto;
}
